[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
alembic = "*"
databases = "*"
asyncpg = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.8"
